.login {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	max-width: 500px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.field label {
	color: #C4C4C4;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--text-secondaty-color);
	font-size: 14px;
}

.links a {
	text-decoration: none;
	color: var(--primary-color);
}

.error {
	background: #FFC529;
	color: white;
	padding: 20px;
}