.button {
	font-family: inherit;
	cursor: pointer;
	transition: background 0.25s;
	border: none;
	color: var(--white-color);
	border-radius: 29px;
	font-style: normal;
	font-weight: 400;
}

.small {
	font-size: 16px;
	padding: 10px 25px;
}

.big {
	font-size: 15px;
	text-transform: uppercase;
	padding: 20px 60px;
	box-shadow: 0px 10px 40px 0px rgba(122, 129, 190, 0.16);
}

.accent {
	background: var(--primary-color);
}

.accent:hover {
	background: var(--primary-hover-color);
}