.layout {
	display: flex;
	min-height: 100vh;
}

.logo {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	border-left: 1px solid var(--separator-color);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}