.input {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: var(--text-color);
	background-color: #FCFCFD;
	border: 1px solid #EFEFEF;
	box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
	border-radius: 10px;
	padding: 16px 30px 16px 44px;
	min-width: 200px;
}

.input-wrapper {
	position: relative;
}

.icon {
	position: absolute;
	left: 17px;
	top: 17px;
}