.layout {
	display: flex;
	min-height: 100vh;
}

.sidebar {
	padding: 30px;
	border-right: 1px solid var(--separator-color);
	display: flex;
	flex-direction: column;
}

.exit {
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 9px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.link {
	display: flex;
	align-items: center;
	gap: 14px;
	text-decoration: none;
	color: var(--text-color);
}

.link:hover {
	color: var(--primary-color);
}

.active {
	color: var(--primary-color);
}

.user {
	margin-bottom: 46px;
}

.avatar {
	margin-bottom: 20px;
	filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.name {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: var(--text-color);
}

.email {
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #9EA1B1;
}

.content {
	padding: 40px 60px;
	width: 100%;
}

.cart-count {
	background: var(--primary-color);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: var(--white-color);
}